@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --background-color: hsl(212, 45%, 89%);
    --primary-color: hsl(0, 0%, 100%);
    --heading-color: hsl(218, 44%, 22%);
    --subheading-color: hsl(216, 15%, 48%);
}

  * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 100dvh;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
}

.card{
    background-color: var(--primary-color);
    width: 320px;
    padding: 1rem;
    margin-bottom: 4rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px 0 #0004 ;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card h2{
    color: var(--heading-color);
    font-weight: 700;
}

.card p{
    color: var(--subheading-color);
    font-weight: 400;
    font-size: 1.05rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}